/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.2rem;
    background-color: #2E3A46;
}

header img {
    width: 50px;
}

header select {
    width: 200px;
    font-size: 1.2rem;
}

/* main */
main {
    background-color: #1E2D3B;
    padding-block: 5rem;
    height: 100%;
}

.card {
    width: calc(20% - 1.5rem);
    padding: 0.8rem;
    margin-bottom: 1rem;
    margin-inline: 0.75rem;
    background-color: #2E3A46;
    text-align: center;
}

.card img {
    display: block;
    width: 100%;
}

.card h2 {
    color: #fff;
    text-transform: uppercase;
    margin-block: 1rem;
    font-size: 1.3em;
}

.card p {
    color: #777E7A;
}
